body {
    font-family: Arial, sans-serif; 
}


.titulo {
    font-size: 35px;
    color: #3D3D3D;
    background-color: #E1EDF2; /
    
}


h2 {
    border-bottom: 2px solid #3D3D3D; 
    padding-bottom: 5px; /
}


.Matriz {
    text-align: center; 
    background-color: #F5F5F5; 
    color: lightgray; 
    padding: 10px 10px 25px 10px; 
    margin: 50px 250px 50px 250px;
    width: 550px;
}
#imgmatriz {
    width: 550px;
}
.Familia {
    float: right;
    background-color:#F5F5F5 ;
    color: lightgray;
    width: 275px;
    padding: 10px 10px 25px 10px; 
}
#imgfamilia{
    width: 275px;
}

.linha{
    margin-bottom: 70px;
}
figcaption {
    color: rgb(71, 69, 69);
}
